@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: linear-gradient(90deg, rgba(107,107,223,1) 0%, rgba(117,117,213,1) 38%, rgba(205,205,255,1) 100%);
}


span {
  font-size: 0.85rem;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh; 
}

.nav-container {
  margin: auto;
}

.nav-container svg {
  color: #000
}

a {
  text-decoration: none;
  color: #072448;
}

a:hover {
  text-decoration: underline;
}

.card-img {
  min-width: 200px;
}

@media (max-width: 500px) {
  .card-img {
    min-width: 0px;
  }
}

.text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(0deg, rgba(107,107,223,1) 0%, rgba(107,107,223,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainContainer {
  flex-grow: 1; 
  display: flex; 
  width: '100%'
}

@media (max-width: 850px) {
  .mainContainer {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 3rem
  }
}